@page
@model Quizz_App.Pages.CreateQuestionModel
@{
    //ViewData["Title"] = "Create Question";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Question</title>
</head>
<body>
    <h2>Create a Question</h2>

    <form method="post">
        @* <div>
            <label for="questionId">Question ID:</label>
            <input type="text" id="questionId" name="Question.Id" required />
            <span asp-validation-for="Question.Id"></span>
        </div> *@
        <div>
            <label for="questionText">Question Text:</label>
            <input type="text" id="questionText" name="Question.Text" required />
            <span asp-validation-for="Question.Text"></span>
        </div>

        <div>
            <h3>Answer Options</h3>
            <div>
                <label>Correct Option</label>
                <input type="text" name="Question.Correctans" placeholder="Answer text" required />
            </div>
            <div>
                <label>Option 1</label>
                <input type="text" name="Question.Option1" placeholder="Answer text" required />
            </div>
            <div>
                <label>Option 2</label>
                <input type="text" name="Question.Option2" placeholder="Answer text" required />
            </div>
            <div>
                <label>Option 3</label>
                <input type="text" name="Question.Option3" placeholder="Answer text" required />
            </div>
                       

            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

    <script>
        document.getElementById('addOptionButton').addEventListener('click', function () {
            var additionalOptionsDiv = document.getElementById('additionalOptions');
            var optionCount = additionalOptionsDiv.querySelectorAll('input[name^="Question.Option"]').length;

            var newOptionIndex = optionCount + 1;
            var newOptionHtml = `
                        <div>
                            <label>Option ${newOptionIndex}</label>
                            <input type="text" name="Question.Option${newOptionIndex}" placeholder="Answer text" required />
                        </div>
                    `;
            additionalOptionsDiv.insertAdjacentHTML('beforeend', newOptionHtml);
        });
    </script>
</body>
</html>
